<?xml version="1.0" encoding="utf-8"?>
<ZsfTraderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoggingSeverity>4</LoggingSeverity>
  <AccountPath>
    <_16384>E:\downloads\dukascopier_v0.4</_16384>
  </AccountPath>
</ZsfTraderConfig>